@media screen and (max-width:768px){

    .block1{
        border: 0.5px solid #181A20;
    }
    .c2, .c3, .c4{
        border: 0.5px solid black;
         }

    .c5 , .c6, .c7, .c8 , .c9, .c10{
           
        border: 0.5px solid #A6C3BA;
    
        }
    .c12, .c13, .c14{

        border: 0.5px solid #181A20;
        
        }

    .c15{
        border: 0.5px solid #181A20;
    }
        
    .linesvg{
        display: none;
    }
    .img2{
        display: none;
    }
    .text1{
        width: 25vw;
        height: 10vh;
    }
    .text2{
        width: 75vw;
        height: 10vh;
    }
    .block3{
        height: 10vh;
    }
    .compass2svg{
        display: none;
    }
    .compasssvg{
        display: none;
    }
    .map{
        width: 100%;
    }
    .pathsvg{
        display: none;
    }
    .block4{
        width: 100%;
    }
    .crosswordsvg{
        width: 50%;
    }
    .crossword2svg{
        width: 50%;
    }
    .pathssvg{
        width: 100%;
    }
    .labsvg{
        width: 100%;
    }
    .block7{
        height: 20vh;
    }
    .logo{
        margin-top: 6vh;
    }
    .footersvg{
        width: 100%;
    }

    /* СЕКЦИЯ 2 */
    .c15o{
        border: 0.1px solid #181A20;
    }
    .c12o, .c13o, .c14o{

        border: 0.1px solid #181A20;
        
        }
    .c2o, .c3o, .c4o{
            border: 0.1px solid black;
             }
    
    .swirlgif{
        display: none;
    }
    .lineg1{
        position: absolute;
        width: 100%;
    }
    .compass2{
        display: none;
    }
    .map3{
        width: 100%;
    }
    .map2{
        width: 100%;
    }
    .compass21{
        position: absolute;
        width: 30%;
        margin-left: 80vw;
        margin-top: 65.1vh;
    }
    .imgdiv{
        position: absolute;
    }
   
}

@media screen and (max-width:414px){


    .block1{
        border: 0.2px solid #181A20;
    }
    .c2, .c3, .c4{
        border: 0.5px solid black;
         }

    .c5 , .c6, .c7, .c8 , .c9, .c10{
           
        border: 0.5px solid #A6C3BA;
    
        }
    .c12, .c13, .c14{

        border: 0.5px solid #181A20;
        
        }

    .c15{
        border: 0.5px solid #181A20;
    }

    .compass21{
        position: absolute;
        width: 30%;
        margin-left: 80vw;
        margin-top: 40.1vh;
    }

    .map3{
        width: 100%;
    }
    .map2{
        width: 100%;
    }
    .pathform{
        display: none;
    }
    .l2, .l3,.l4,.l5,.l3a,.l6a,.l7a,.l8a,.l11t,.l9t,.l3h,.l14h,.l13h {
       display: none;
    }
    .block7{
        height: 15vh;
    }
    .logo{
        margin-top: 5vh;
    }
    .path1svg{
        display: none;
    }
    .block3{
        height: 7vh;
    }
}